:root {
  --poppins: "Poppins", sans-serif;
  --playfair: "Playfair Display", serif;
  --primary-color: #6c63ff;
  --secundary-color: #f9f7fe;
  --transition: all 100ms ease-in-out;
}

h1,
h2,
h3 {
  color: black;
}

h2 {
  font-family: var(--poppins);
  font-weight: normal;
}
h1 {
  font-family: var(--playfair);
  font-weight: bold;
  font-size: 96px;
  line-height: 128px;
}

h3 {
  font-family: var(--playfair);
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  margin-bottom: 55px;
  margin-top: 95px;
}

h5 {
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 9px;
}

nav {
  padding: 20px 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
}

nav li a {
  text-decoration: none;
  font-family: var(--poppins);
  margin-left: 15px;
  color: #272142;
  font-weight: 500;
  transition: var(--transition);
}

nav li a:hover,
nav li.active a {
  color: var(--primary-color);
}

nav ul {
  margin: 0;
  padding: 0;
}

p,
.contact-options {
  font-family: var(--poppins);
  font-weight: 400;
}

.branding-btn,
.light-button {
  font-family: var(--poppins);
  font-weight: 500;
  font-size: 15px;
  line-height: 27px;
  padding: 18px 46px;
  border-radius: 4px;
  text-decoration: none;
}

.branding-btn {
  background: var(--primary-color);
  color: white;
}

.light-button {
  background: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.logo {
  max-height: 40px;
}

.contact-options {
  background: white;
  color: black;
  padding: 0;
}

.work-list {
  margin-top: 103px;
}

.content {
  margin: 30px;
}

.photo-container {
  padding: 50px 0;
}
.content-container {
  padding: 160px 20px;
}

.content-container h1 {
  font-size: 64px;
  font-family: var(--playfair);
  font-weight: 700;
  line-height: 75px;
}

.content-container h2 {
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  margin: 29px 0;
}

.content-container p {
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 48px;
}

.content-container img {
  max-height: 740px;
  border-radius: 10px;
}

.heading-container h2 {
  font-size: 24px;
  line-height: 36px;
  padding-top: 24px;
  padding-bottom: 49px;
}

.heading-container p {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
}

.heading-container {
  background: var(--secundary-color);
  text-align: center;
  padding: 160px 20px;
}

.featured-projects {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 82px;
  margin-top: 127px;
}

.project-preview {
  max-height: 521px;
}

.app-description {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 68px;
}

.app-description-container {
  padding-left: 61px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 77px;
    line-height: 99px;
  }

  .content-container a {
    padding: 15px 25px;
  }

  h3 {
    font-size: 42px;
    margin-bottom: 21px;
  }

  .heading-container p {
    font-size: 32px;
  }

  .heading-container {
    padding-top: 54px;
    padding-bottom: 98px;
  }

  .featured-projects {
    margin-top: 64px;
    margin-bottom: 69px;
  }

  .app-description-container {
    padding: 0 12px;
    text-align: center;
  }

  .app-description {
    margin-bottom: 56px;
  }

  nav li a {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  h3 {
    margin-top: 0;
  }

  .app-description-container {
    padding: 0 12px;
    text-align: center;
  }

  .content-container {
    text-align: center;
    padding: 21px 20px;
  }
}

@media (max-width: 1198px) {
  .app-description {
    margin-bottom: 46px;
    text-align: center;
  }

  h3 {
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 59px;
  }

  .light-button {
    font-size: 16px;
  }
}

@media (max-width: 1400px) {
  h3 {
    margin-top: 32px;
  }
}
